@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}
<h3>Get Started in 3 easy steps</h3>
<br />
<div style="float:left">
    <h3>Client:</h3>
    

    <ol class="round">
        <li class="one">
            <h5>Post</h5>
            Post a request for a service.
        </li>

        <li class="two">
            <h5>Accept</h5>
           Accept a Service Provider to perform service.
        </li>

        <li class="three">
            <h5>Rate</h5>
            Rate a Service Provider on the service performed..
        </li>
    </ol>
</div>
<div style="float:right">
    <h3>Service Provider:</h3>
    <ol class="round">
        <li class="one">
            <h5>Find</h5>
            Find a service that you want to apply for.
        </li>

        <li class="two">
            <h5>Bid</h5>
            Bid on the service with other Service Providers.
        </li>

        <li class="three">
            <h5>Score</h5>
            Get the job and be rated on the service performed.
        </li>
    </ol>
</div>
