@model IEnumerable<ServiceHub.Website.Models.MyServiceItem>
    @{
        ViewBag.Title = "My Services";
    }

    @section scripts
{
        <script>
           

        </script>

    }


   
<h2>My Services</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#ActiveServices">Active Services</a></li>
    <li><a data-toggle="tab" href="#PastServices">Past Services</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="ActiveServices">@Html.Partial("_ActiveServices", Model)</div>
    <div class="tab-pane" id="PastServices">        @Html.Partial("_PastServices", Model)</div>

</div>
