@model System.Guid
@{
    ViewBag.Title = "My Services";
}

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#UserProfileTabs").tabs();
        });

    </script>

}


<div id="UserProfileTabs">
    <ul>
      

            <li><a href="#ClientHistory">History</a></li>
            <li><a href="#ActiveServices">Active Services</a></li>
            <li><a href="#PastServices">Past Services</a></li>
       

    </ul>
 
        <div id="ClientHistory">
            @Html.Partial("_ClientHistory", Model)
        </div>
        <div id="ActiveServices">
            @Html.Partial("_ActiveServices", Model)
        </div>
        <div id="PastServices">
            @Html.Partial("_PastServices", Model)
        </div>

</div>
