@{
    ViewBag.Title = "Clients";
}

<div class="table">
    <div class="row">
        <div>some data</div>

        <div>some data</div>

        <div>some data</div>

        <div>some data</div>

        <div>some data</div>
    </div>
    <div class="row">
        <div>some data</div>

        <div>some data</div>

        <div>some data</div>

        <div>some data</div>

        <div>some data</div>
    </div>
    <div class="row">
        <div>some data</div>

        <div>some data</div>

        <div>some data</div>

        <div>some data</div>

        <div>some data</div>
    </div>
</div>