@model IEnumerable<ServiceHub.Website.Models.HistoryItem>
@{
    ViewBag.Title = "My History";
}

<div class="table">
    <div class="row headerRow">
        <div>Timestamp</div>

        <div>Action</div>

        <div>Description</div>


    </div>
    @foreach (var item in Model)
    {
        <div class="row">

            <div>@Html.DisplayFor(o => item.Timestamp)</div>

            <div>@Html.DisplayFor(o => item.Action)</div>

            <div>@Html.DisplayFor(o => item.Description)</div>


        </div>

    }
</div>

