 .select2-container {
	width: 280px;
	resize: none;
	margin: 5px 0 6px 0;
	padding: 5px;
	border: 1px solid #e2e2e2;
	background: #fff;
	color: #333;
}

.select2-choices {
	border-style: none !important;
	background-image: none !important;
}

.select2-container {
	width: 280px !important;
}


.table {
	width: 100%;
	display: table;
	border-bottom: 1px dotted #a6abaf;
	border-right: 1px dotted #a6abaf;
}



.table .row {
	display: table-row;
	background: #f4f4f4;
	border-top: 1px solid #fff;
}

.table .row > div {
	display: table-cell;
	vertical-align: middle;
	padding: 0px 10px 0px 10px;
	font: 16px/44px 'NewCicleSemi', Arial, sans-serif;
	color: #004a92;
	border-left: 1px dotted #a6abaf;
}

.table .headerRow {
	background: #616a72;
	color: #fff;
}

	.table .headerRow > div {
		vertical-align: auto;
		color: #fff;
		border-color: #8c9196;
	}


.layout {
	width: 100%;
}

	.layout .twoColumn {
		width: 50%;
		display: inline-block;
		margin-right: -4px;
		vertical-align: top;
	}
